:root {
    --white:#f5daf8;
    --darkpurple:#47214b; 
    --lightpurple:#683a6d;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: var(--white);
}

header {
    background-color: #47214b; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--white);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.navbar{
    background-color: #47214b;
    padding: 5px;
}

p.navbar-item{
    color: var(--white);
}

.navbar-burger{
    margin-top: auto;
    margin-bottom: auto;
    border: 2px  solid  var(--white);    
}

.navbar-burger span{
    color: #f5daf8;
}
a.navbar-item{
    font-size: larger;
}

a.navbar-item:hover{
    background-color: var(--lightpurple);
    color: var(--white)
}

.navbar-menu{
    background-color: #47214b;    
}

.navbar-end{
    min-height: fit-content;
}

.navbar-end a {
    color: var(--white)
}

#banner {
    background-image: url("../images/purple-banner.png");
    background-size: cover;
    overflow: hidden;
}

#banner >img {
    float: left;
    width: 27%;
    height: 400px;
    object-fit: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

#bold {
    font-weight: bolder;
    font-size: 30px;
}

.article {
    display: flex;
    padding: 50px;
    background-color: var(--lightpurple);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
}

.heading {
    width: 25%;
    margin-left: 20px;
    border-style: none solid none none;
}

.heading h1 {
    float: right;
    margin-right: 30px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    width: 70%;
    padding: 20px;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content h2 {
    color: var(--white);
}

.content p { 
    margin-bottom: 20px;    
    font-size: larger;
    line-height: 1.5;
}

.content ul {
    margin-bottom: 20px;
}

.content li {
    margin-left: 80px;    
    font-size: larger;
    font-weight: bold;
}

.card-large {
    position: relative;
    padding: 0.5%;
}

.card-large a > img {
    object-fit: none;
    max-width: 100%;  
    border-style: solid;
    border-width: 5px;
    border-color: var(--darkpurple);
    background-color: var(--white); 
}

.card-large:hover p {
    visibility: visible;
}

.card-large > p {
    position: absolute; 
    bottom: 8px;
    left: 4px;     
    visibility: hidden;
    max-width: fit-content;
    padding: 3%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: var(--darkpurple);
    border-color: var(--darkpurple);  
}

.card-small-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-small {
    flex: 40%;     
    text-align: justify;   
}

.card-small p {
    position: relative;
    bottom: 30px;
    left: 0px;
    visibility: hidden;
    align-self: flex-start;      
    max-width: fit-content;    
    padding: 1%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--darkpurple); 
    background-color: var(--darkpurple); 
}

.card-small img {  
    object-fit: none;
    display: block;     
    max-width: 90%;
    margin-top: 2%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--darkpurple); 
}

.card-small:hover p{
    visibility: visible;
}

#contact .content {
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contact .content a {
    border-style: none none solid none;    
    font-size: large;
    font-weight: bold; 
} 

@media screen and (max-width:800px){
    #about{
        padding-top: 30px;
    }

    .heading h1{
        float: left;
    }
    .article {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-bottom: 0px;
        padding-top: 10px;
    }

    .heading {
        width: auto;
        border-style: none solid solid none;
    }

    #philip {
        display: none;
    }
    .content {
        align-self: center;
        width: 100%;
    }
    
    .content li {
        margin-right: 10px;
    }

    .card-small-flexbox {
        display: block;
    }
}

@media screen and (max-width:520px) {

    .article{
        padding: 10px;
    }

    .content ul{
        margin-left: 0px;
    }

    .card-large > p {
        font-size: small;
    }

    .card-small-flexbox {
        display: block;
    }

    #contact .content {
        display: block;   
    }
    #contact .content a {
        margin-right: 10px;
    }
}
